/vs2013/Debug/charge.tlog/unsuccessfulbuild
/vs2013/x64/Release/charge.exe
/vs2013/Debug/vc120.idb
/vs2013/Debug/charge.tlog/charge.lastbuildstate
/vs2013/x64/Release/charge.tlog/charge.lastbuildstate
/vs2013/Debug/charge.log
/vs2013/x64/Release/charge.log
/vs2013/Debug/lodepng.obj
/vs2013/x64/Release/app.obj
/vs2013/x64/Release/board.obj
/vs2013/x64/Release/circuit.obj
/vs2013/x64/Release/component.obj
/vs2013/x64/Release/directory.obj
/vs2013/x64/Release/gameState.obj
/vs2013/x64/Release/imageLoaderLodePNG.obj
/vs2013/x64/Release/lodepng.obj
/vs2013/x64/Release/main.obj
/vs2013/x64/Release/rendererSDL.obj
/vs2013/x64/Release/utility.obj
/vs2013/charge.opensdf
/vs2013/Debug/vc120.pdb
/vs2013/x64/Release/charge.pdb
/vs2013/x64/Release/vc120.pdb
/vs2013/charge.sdf
/vs2013/Debug/charge.tlog/*.tlog
/vs2013/x64/Release/charge.tlog/*.tlog
/background.bmp
/bin/release/charge.exe
/bin/release/charge.pdb
/image.bmp
/vs2013/ipch/charge-ee448aeb/charge-66409e8e.ipch
/vs2013/x64/Release/charge.Build.CppClean.log
/vs2013/x64/Release/charge.pch
/vs2013/x64/Release/SDLUtil.obj
/vs2013/x64/Release/texture.obj
/bin/debug/charge.exe
/bin/debug/charge.ilk
/bin/debug/charge.pdb
/vs2013/ipch/charge-ee448aeb/charge-8df49254.ipch
/vs2013/test.png
/vs2013/x64/Debug/SDLUtil.obj
/vs2013/x64/Debug/app.obj
/vs2013/x64/Debug/board.obj
/vs2013/x64/Debug/charge.Build.CppClean.log
/vs2013/x64/Debug/charge.log
/vs2013/x64/Debug/charge.pch
/vs2013/x64/Debug/charge.tlog/CL.read.1.tlog
/vs2013/x64/Debug/charge.tlog/CL.write.1.tlog
/vs2013/x64/Debug/charge.tlog/charge.lastbuildstate
/vs2013/x64/Debug/charge.tlog/cl.command.1.tlog
/vs2013/x64/Debug/charge.tlog/link.command.1.tlog
/vs2013/x64/Debug/charge.tlog/link.read.1.tlog
/vs2013/x64/Debug/charge.tlog/link.write.1.tlog
/vs2013/x64/Debug/circuit.obj
/vs2013/x64/Debug/component.obj
/vs2013/x64/Debug/gameState.obj
/vs2013/x64/Debug/gameUI.obj
/vs2013/x64/Debug/imageLoaderLodePNG.obj
/vs2013/x64/Debug/lodepng.obj
/vs2013/x64/Debug/main.obj
/vs2013/x64/Debug/rendererSDL.obj
/vs2013/x64/Debug/texture.obj
/vs2013/x64/Debug/utility.obj
/vs2013/x64/Debug/vc120.idb
/vs2013/x64/Debug/vc120.pdb
/bin/debug/chargeMonolith.exe
/bin/debug/chargeMonolith.ilk
/bin/debug/chargeMonolith.pdb
/vs2013Monolith/chargeMonolith.opensdf
/vs2013Monolith/chargeMonolith.sdf
/vs2013Monolith/chargeMonolith.v12.suo
/vs2013Monolith/ipch/chargemonolith-a01414bf/chargemonolith-aa1279de.ipch
/vs2013Monolith/test.png
/vs2013Monolith/x64/Debug/chargeMonolith.Build.CppClean.log
/vs2013Monolith/x64/Debug/chargeMonolith.log
/vs2013Monolith/x64/Debug/chargeMonolith.tlog/CL.read.1.tlog
/vs2013Monolith/x64/Debug/chargeMonolith.tlog/CL.write.1.tlog
/vs2013Monolith/x64/Debug/chargeMonolith.tlog/chargeMonolith.lastbuildstate
/vs2013Monolith/x64/Debug/chargeMonolith.tlog/cl.command.1.tlog
/vs2013Monolith/x64/Debug/chargeMonolith.tlog/link.command.1.tlog
/vs2013Monolith/x64/Debug/chargeMonolith.tlog/link.read.1.tlog
/vs2013Monolith/x64/Debug/chargeMonolith.tlog/link.write.1.tlog
/vs2013Monolith/x64/Debug/monolith.obj
/vs2013Monolith/x64/Debug/vc120.idb
/vs2013Monolith/x64/Debug/vc120.pdb
/vs2013/x64/Debug/gameUtil.obj
/vs2013/x64/Debug/*.obj
/vs2013/charge.v11.suo
/vs2013/ipch/charge-dfe92045/charge-8df49254.ipch
/vs2013/charge.v12.suo
/temp/visualinfo.txt
/vs2013/ipch/charge-dfe92045/charge-66409e8e.ipch
/vs2013/x64/Release/charge.obj
/vs2013/x64/Release/charge.tlog/unsuccessfulbuild
/vs2013/x64/Release/common.obj
/vs2013/x64/Release/coordinates.obj
/vs2013/x64/Release/database.obj
/vs2013/x64/Release/explodingCharge.obj
/vs2013/x64/Release/gameButton.obj
/vs2013/x64/Release/gameUI.obj
/vs2013/x64/Release/gameUtil.obj
/vs2013/x64/Release/legacyLoader.obj
*.obj
*.ipch
vs2013/x64/Debug/charge.tlog/unsuccessfulbuild
/src/main.h.gch
/src/a.out
*.lnk
/vs2013/trailTexture0.png
/vs2013/trailTexture1.png
/vs2013/tutorial2.frag
/vs2013/tutorial2.vert
/vs2013/test.lvl
assets/test.pzl
assets/test.pzl
/SessionA
/autoDiff/Debug/autoDiff.log
/autoDiff/Debug/autoDiff.tlog/CL.read.1.tlog
/autoDiff/Debug/autoDiff.tlog/CL.write.1.tlog
/autoDiff/Debug/autoDiff.tlog/autoDiff.lastbuildstate
/autoDiff/Debug/autoDiff.tlog/cl.command.1.tlog
/autoDiff/Debug/autoDiff.tlog/unsuccessfulbuild
/autoDiff/Debug/vc120.idb
/autoDiff/Debug/vc120.pdb
/autoDiff/autoDiff.sdf
/autoDiff/Debug
/autoDiff/x64
/autoDiff/autoDiff.opensdf
vs2013/highlights.txt
/assets/test.pzl
/vs2013/bloomTextureA.png
/vs2013/bloomTextureB.png
/vs2013/bloomTextureC.png
/vs2013/.vs/charge/v14/.suo
/vs2013/charge.VC.VC.opendb
/vs2013/charge.VC.db
/vs2013/x64/Debug/vc140.idb
/vs2013/x64/Debug/vc140.pdb
/vs2013/x64/Release/vc140.pdb
/bin/debug/CompiledShaders/quad.hlsl.pixelShaderMain.p
/bin/debug/CompiledShaders/quad.hlsl.vertexShaderMain.p
/vs2013/x64/Debug/charge.tlog/charge.write.1u.tlog
